<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container">
        <% if (user.admin == true) {%>
            <nav>
                <a href="/join-club">JOIN THE CLUB</a>
                <a href="/log-out">LOG OUT</a>
            </nav>
            <h1>Welcome to the club admin <%= user.username %></h1>
            <div>
                <form action="/dashboard" method="POST">
                    <div class="form-group">
                        <label for="message">Create new message</label>
                        <textarea class="form-control" name="message" placeholder="Hello world..." rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="message-box">
                <% message_list.forEach(function(message) { %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= message.author %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= message.dateStamp %></h6>
                            <p class="card-text">
                                <%= message.text %>
                            </p>
                            <a class="delete" data-doc="<%= message._id %>">Delete</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        <%} else if (user) {%>
            <nav>
                <a href="/join-club">JOIN THE CLUB</a>
                <a href="/log-out">LOG OUT</a>
            </nav>
            <h1>Welcome to the club <%= user.username %></h1>
            <div>
                <form action="/dashboard" method="POST">
                    <div class="form-group">
                        <label for="message">Create new message</label>
                        <textarea class="form-control" name="message" placeholder="Hello world..." rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="message-box">
                <% message_list.forEach(function(message) { %>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= message.author %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= message.dateStamp %></h6>
                            <p class="card-text">
                                <%= message.text %>
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        <%}%>
    </div>
    <script>
        const trashcan = document.querySelector("a.delete");
        trashcan.addEventListener("click", (e) => {
            const endpoint = `/dashboard/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: "DELETE"
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
    </script>
</body>
</html>